<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BinaryEncoding" version="1.3.4" targetFramework="net461" />
  <package id="BouncyCastle" version="1.8.1" targetFramework="net461" />
  <package id="Multiformats.Base" version="2.0.1" targetFramework="net461" />
  <package id="Multiformats.Hash" version="1.3.0" targetFramework="net461" />
  <package id="murmurhash-net" version="1.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
  <package id="RestSharp" version="106.3.0" targetFramework="net452" />
  <package id="System.Composition" version="1.1.0" targetFramework="net461" />
  <package id="System.Composition.AttributedModel" version="1.1.0" targetFramework="net461" />
  <package id="System.Composition.Convention" version="1.1.0" targetFramework="net461" />
  <package id="System.Composition.Hosting" version="1.1.0" targetFramework="net461" />
  <package id="System.Composition.Runtime" version="1.1.0" targetFramework="net461" />
  <package id="System.Composition.TypedParts" version="1.1.0" targetFramework="net461" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net461" />
</packages>